#page-container{
     background-image: url(https://images.unsplash.com/photo-1549443442-e981d27df640?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80) ;
}
.align{
   background-color: #4aaaa5;
   text-align: center;
   color: white;
   font-weight: bold;
   font-size: large;
   font-family: 'Courier New', Courier, monospace;
}
.name_header {
     background-color: #4aaaa5;
     height: 100%;
     display: inline-block;
     border: solid ;
     border-width: thin;
     margin-left: 10%; 
     text-align: center;
     padding-top: 12px;
      }
#header { 
     background-color: #ffffff;
     position: relative;
     margin-bottom: 1%;
     height: 50px;
 }
 #main {
     background-color: white;
     height: 100%;
     margin-bottom: 1%;
      }
.auto-size{
          height: 125px ;
          width: 125px;
          border-radius: 30%;
          padding: 1%;
          float: left;;
          box-shadow: 0px 8px 16px 0px steelblue ;
          background-color: lightsteelblue;
          /* opacity: 30%; */
          }
p{
               color: #777777;
               /* display: inline; */
               font-weight: 200;
               font-family: 'Libre Franklin', sans-serif;
               font-size: larger;
               margin-left: auto;
               padding-left: 1%;
           }
           
